body {
    background-color: rgb(171, 166, 236);
    font-family: monospace;
    overflow: hidden;
    /* i hate that this isnt default */
    margin: 0;
}


.wrap {
    display: fixed;
    margin: 5vh 10vw;
    height: 90vh;
    color: rgb(170, 170, 170);
    background-color: rgb(45, 45, 45);
}

.title {
    padding: 8px;
    width: calc(80vw - 16px);
    font-size: small;
    background-color: rgb(65, 65, 65);
    color: rgb(170, 170, 170);
}

.title * {
    display: inline;
}

.right {
    /* fuck u */
    float: inline-end;
    transform: translateY(-50%);
    cursor: pointer;
}

#main {
    padding: 0 10px;
}

h1 {
    font-size: small;
}

.sameline {
    font-size: small;
    white-space: nowrap;
}

.sameline * {
    display: inline;
}

input {
    color: rgb(170, 170, 170);
    font-size: small;
    font-family: monospace;
    border: none;
    background-color: rgb(45, 45, 45);
    outline: none;
    width: 80%;
}

p {
    font-size: small;
}

p#l {
    color: rgb(100, 100, 100)
}

p#l:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

p#green {
    color: rgb(100, 200, 100)
}

#grey {
    color: rgb(100, 100, 100)
}

p#red {
    color: rgb(200, 100, 100);
}