body {
    background-color: rgb(171, 166, 236);
    font-family: monospace;
    overflow: hidden;
}


.wrap {
    display: relative;
    aspect-ratio: 21 / 9;
    margin: 5%;

    color: rgb(170, 170, 170);
    background-color: rgb(45, 45, 45);
}

.title {
    height: 30px;
    padding-left: 5px;
    font-size: small;
    background-color: rgb(65, 65, 65);
    color: rgb(170, 170, 170);
}

#main {
    padding: 10px;
}

h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: small;
}

.sameline {
    font-size: small;
    white-space: nowrap;
}

.sameline * {
    display: inline;
}

input {
    color: rgb(170, 170, 170);
    font-size: small;
    font-family: monospace;
    border: none;
    background-color: rgb(45, 45, 45);
    outline: none;
    width: 80%;
}

p {
    font-size: small;
}