body {
    font-family: Consolas;
    font-size: x-small;
    background-color: black;
    color: darkslateblue;
    text-align: center;
}

a {
    text-decoration: wavy;
    /* för att få bort underlines (ghetto) */
}

img {
    max-width: 20%;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    animation: ease-in 500ms svg;
}

#top {
    padding-top: 0%;
}

#main {
    animation: ease-in 500ms smooth;
    animation-delay: 200ms;
}

#easein {
    animation: ease-in 500ms smooth;
    animation-delay: 300ms;
}

#morelinks {
    color: darkslateblue;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-bottom-color: darkslateblue;
    animation: ease-in 500ms line;
    animation-delay: 400ms;
}

/*      more sidan      */

#spacer { padding-top: 10%; }
#parent { white-space: nowrap; }

#underrubrik {
    animation: ease-in 500ms smooth;
    font-style: italic;
    display: inline-block;
    margin: auto;
    width: 18%;
    text-align: center;
    padding: 1%;
}

#child {
    padding: 1%;
    border: 1px;
    border-color: darkslateblue;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin: auto;
    width: 18%;
}

@keyframes smooth {
    0% {
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
    40% {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 4px rgb(255, 255, 255);
    }
    100% {
        color: darkslateblue;
        text-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
}

@keyframes line {
    0% {
        border-bottom-color: rgb(0, 0, 0);
        padding-bottom: 10px;
        border-width: 1px;
        
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 0px rgb(0, 0, 0);
    }

    40% {
        border-width: 2px;

        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 4px rgb(255, 255, 255);
    }

    100% {
        border-bottom-color: darkslateblue;
        padding-bottom: 0px;

        color: darkslateblue;
        text-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
}

/*      more sidan      */

@keyframes svg {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
        filter: drop-shadow(0px 0px 0px rgb(0, 0, 0));
    }
}